:root {
    --square-size: 36px;
    --inner-border: 2px;
    --inner-square-size: calc(var(--square-size) - 2 * (var(--inner-border) + 2px));
    --col-height: 180px;

    --sidebar-width: 300px;
}

body {
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 12pt;
}

.select-char {
    width: 100px;
    height: 25px;
}

.select-char select {
    width: 100px;
    height: 25px;
    background-color: #fff;
    font-family: 'Mukta Mahee', sans-serif;
}

/* globalish */
.center-span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

/* sidebar */

.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: #333;
}

.sidebar-header {
    padding-left: 15px;
    height: 46px;
    line-height: 46px;
    border-bottom-width: 2px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    background-color: #111;
    color: #fff;
}

.sidebar-header-container {
    height: 46px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-header-container img {
    height: 16px;
    width: 16px;
    margin: 16px;
}

.sidebar-row {
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.sidebar-selected {
    background-color: #fff !important;
    color: #111 !important;
}

.sidebar-dark {
    background-color: #333;
}

.sidebar-dark:hover {
    background-color: #444;
}

.sidebar-light {
    background-color: #555;   
}

.sidebar-light:hover {
    background-color: #666;
}

.sidebar-row-framedata {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.startup {
    background-color: #ffd70f;
    color: #000;
}

.active {
    background-color: #ff6a00;
    color: #000;
}

.recovery {
    background-color: #9b044b;
    color: #fff;
}

/* timeline */

.timeline {
    margin-left: var(--sidebar-width);
    padding: 100px;
    display: inline-block;
}

/* Columns and rows */

.header-col {
    height: var(--col-height);
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

.header-row {
    height: var(--square-size);
    line-height: var(--square-size);
    display: block;
    text-align: center;
}

.header-divider {
    height: 2px;
    /*margin-top: calc((var(--square-size) - 2) / 2);*/
    /*margin-bottom: calc((var(--square-size) - 2) / 2);*/
    margin: 17px 0px;
    background-color: #ccc;
}

.header-row span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.frame-col {
    width: var(--square-size);
    height: var(--col-height);
    margin: 10px 0px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

.frame-col:hover {
    background-color: #ddd;
}

.frame-row {
    height: var(--square-size);
    line-height: var(--square-size);
    display: block;
    text-align: center;
    overflow: visible;
}

.frame-row svg {
    position: relative;
    left: calc(var(--square-size) / -2);
}

.frame-indicator {
    position: relative;
    left: 2px;
    top: 2px;
    width: var(--inner-square-size);
    height: var(--inner-square-size);
    border-style: solid;
    border-width: var(--inner-border);
    border-color: #111;
    border-radius: 4px;
}

/* Tooltip stuff */

.frame-indicator:hover .frame-tooltip {
    visibility: visible;
}

.frame-tooltip {
    margin-left: -60px;
    visibility: hidden;
    width: 120px;
    height: 30px;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
}

.command-indicator {
    position: relative;
    left: 2px;
    top: 2px;
    width: var(--inner-square-size);
    height: var(--inner-square-size);
    border-style: dashed;
    border-radius: 8px;
    border-width: var(--inner-border);
}